<div class="card col-md-4" th:fragment="content">
    <div class="card-header">
        <span th:text="${#messages.msg('aside.category')}"></span>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:text="${#messages.msg('aside.sanpham1')}"></li>
        <li class="list-group-item" th:text="${#messages.msg('aside.sanpham2')}"></li>
        <li class="list-group-item" th:text="${#messages.msg('aside.sanpham3')}"></li>
        <li class="list-group-item" th:text="${#messages.msg('aside.sanpham4')}"></li>
        <li class="list-group-item" th:text="${#messages.msg('aside.sanpham5')}"></li>
        <li class="list-group-item" th:text="${#messages.msg('aside.sanpham6')}"></li>
        <li class="list-group-item" th:text="${#messages.msg('aside.sanpham7')}"></li>
    </ul>
</div>