<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Management</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Product Management</h1>
    <form action="#" method="post" th:object="${product}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="category">Danh mục sản phẩm</label>
                <input type="text" id="category" class="form-control" placeholder="Nhập danh mục sản phẩm"
                       th:field="*{category.id}" th:disabled="${product.category != null}">
            </div>
            <div class="form-group col-md-6">
                <label for="price">Giá sản phẩm</label>
                <input type="text" id="price" class="form-control" placeholder="Nhập giá sản phẩm" th:field="*{price}">
            </div>
        </div>
        <div class="form-group">

            <label for="name">Tên sản phẩm</label>
            <input type="text" id="name" class="form-control" placeholder="Nhập tên sản phẩm" th:field="*{name}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" th:formaction="@{/product/add}" class="btn btn-primary w-100">Save</button>
            </div>
            <div class="form-group col-md-6">
                <button type="submit" th:formaction="@{'/product/update/' + ${product.id}}" class="btn btn-success w-100">Update</button>
            </div>
        </div>
    </form>
    <hr>
    <h2 class="mt-5">Product List</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>
                <a class="text-white" th:href="@{'/product?pageNo=' + ${currentPage} + '&sortField=id&sortDir=' + ${reverseSortDir}}">ID</a>
            </th>
            <th>
                <a class="text-white" th:href="@{'/product?pageNo=' + ${currentPage} + '&sortField=name&sortDir=' + ${reverseSortDir}}">Name</a>
            </th>
            <th>
                <a class="text-white" th:href="@{'/product?pageNo=' + ${currentPage} + '&sortField=price&sortDir=' + ${reverseSortDir}}">Price</a>
            </th>
            <th>
                <a class="text-white" th:href="@{'/product?pageNo=' + ${currentPage} + '&sortField=category&sortDir=' + ${reverseSortDir}}">Category</a>
            </th>
            <th>
                <a class="text-white" th:href="@{'/product?pageNo=' + ${currentPage} + '&sortField=createdDate&sortDir=' + ${reverseSortDir}}">Created Date</a>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category != null ? product.category.name : 'N/A'}"></td>
            <td th:text="${product.createdDate}"></td>
            <td>
                <a th:href="@{'/product/edit/' + ${product.id}}" class="btn btn-sm btn-warning me-2">Edit</a>
                <a th:href="@{'/product/delete/' + ${product.id}}" class="btn btn-sm btn-danger me-2">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="box-footer clearfix">
        <ul class="pagination">
            <li class="page-item" th:if="${currentPage > 1}">
                <a class="page-link" th:href="@{'?pageNo='+${currentPage - 1}}"> &laquo; </a>
            </li>
            <li class="page-item" th:each="i:${#numbers.sequence(1, totalPage)}"
                th:classappend="${currentPage == i ? 'active': ''}">
                <a class="page-link" th:href="@{'?pageNo='+${i}}" th:text="${i}"></a>
            </li>
            <li class="page-item" th:if="${currentPage < totalPage}">
                <a class="page-link" th:href="@{'?pageNo='+${currentPage + 1}}"> &raquo; </a>
            </li>
        </ul>
    </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
